@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif, sans-serif;
  background-color: #283618;
  color: #f6faee;
  height: 100vh;
}

header {
  position: relative;
  border-bottom: 1.2rem solid #949b8c;
  padding: 4.8rem 1.2rem 0 1.2rem;
  margin: 12.8rem 0 25.6rem 0;
  text-align: center;
}

.heading {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

.sub-heading {
  font-size: 2.4rem;
  margin-bottom: 9.6rem;
  margin-top: 2.4rem;
}

.sub-heading:nth-of-type(odd) {
  margin-bottom: 0;
}

.floating-q {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 12.8rem;
  width: 19.2rem;
  background-color: #e5efcd;
}

.guess-value {
  padding: 0.8rem 2.4rem;
  font-size: 7.2rem;
  color: #54652c;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.4rem 1.8rem;
  column-gap: 4.8rem;
}
.grid-container-1 {
  padding: 1.8rem;
  max-width: 55%;
}
.number {
  display: block;
  width: 50%;
  border: 5px solid #e5efcd;
  height: 7.2rem;
  margin-bottom: 4.8rem;
  padding: 0.8rem;
  font-size: 2.4rem;
  color: #283618;
  font-family: "Press Start 2P";
  text-align: center;
  transition: ease-in 0.4s ease-in-out;
}
.number:focus {
  outline: none;
  box-shadow: 0 0 1px 5px rgba(255, 255, 255, 0.5);
}
.grid-container-2 {
  padding: 2.4rem;
}
.text {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
.text:last-child {
  margin-bottom: 0;
}
.start-guess-p {
  min-height: 3rem;
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-container {
  display: flex;
  justify-content: center;
  padding: 2.4rem;
}
.btn {
  font-family: "Press Start 2P";
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  color: #54652c;
  background-color: #e5efcd;
  border: none;
  transition: ease 0.3s background-color;
}
.btn:hover {
  background-color: #c1d989;
}
.check {
  width: 85%;
}
.again {
  width: 45%;
}

/* MODAL */
.hidden {
  display: none;
}

.modal {
  background-color: #e5efcd;
  color: #54652c;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 3.6rem;
}

.modal-heading {
  text-align: center;
  font-weight: 900;
  font-size: 3.6rem;
  margin-bottom: 1.8rem;
}

.modal-p {
  font-size: 1.2rem;
  max-width: 48rem;
  line-height: 2;
  color: #60b347;
}

.exit-modal {
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 0;
  font-size: 3.6rem;
  border: none;
  background-color: #e5efcd;
  transition: ease 0.3s color;
}
.exit-modal:hover {
  color: rgb(96, 96, 96);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.play {
  margin: 1.2rem 0 0 1.2rem;
}
